link(rel="stylesheet" href="./Style/Normalize.css")
link(rel="stylesheet" href="./Style/all.min.css")
link(rel="stylesheet" href="./Style/main.css")
link(rel="stylesheet" href="./Style/owl.carousel.min.css")
link(rel="stylesheet" href="./Style/owl.theme.default.min.css")